*{
	font-family:arial, sans-serif;
	font-size:small;
}
.header{
	height:60px; width:100%;
	text-align: right;
}
li{
	display:inline-block;
	padding:5px;
	
}
.main{
	display:block;
	text-align:center;
}
.google{
	height:95px;
	margin-top:135px;
}
.input{
	width:600px; height:25px;
	margin-top:20px;
}
button{
	margin-top:10px;
}
p{
	margin-top:30px;
}
.footer{
	height: 60px; width: 100%;
	background-color:#f2f2f2;
	border-top:1px solid #fbfbfb;
	position:fixed;
	bottom:0;
}
span{
	color:red;
}
#footer_list_right{
	display:inline-block;
	float:right;
	margin-right:30px;
}
#footer_list_left{
	display:inline-block;
	float:left;
	margin-left: 30px;
	padding:5px;
}